
.idea/
.vscode/

bin/
obj/

*.user
*.userosscache
*.suo
*.sln.docstates

*.log
*.nupkg
*.snupkg
*.swp
*.lock.json
*.sln.iml 

.dockerignore
docker-compose.override.yml
docker-compose.*

TestResults/

Shared/bin/
Shared/obj/
