<p>Hi {Name},</p>
<p>You requested to reset your password. Please copy the following code and use it to reset your password:</p>
<p><strong>{OTP}</strong></p>
<p>Click the link below to proceed with resetting your password:</p>
<p><a href="{ResetLink}">Reset Password</a></p>
<p>This code and link will expire in 10 minutes.</p>
<p>If you did not request this, please ignore this email.</p>
<p>Best regards,</p>
<p>
    <strong>Your Team at DineEase</strong>
</p>

<p style="text-align: center;">
    <img src="https://bpr2imagestorage.blob.core.windows.net/bpr2imagecontainer/Logo.png?sp=r&st=2024-12-10T15:32:49Z&se=2024-12-10T23:32:49Z&sv=2022-11-02&sr=b&sig=wMXcWdY3cne7F8rQ97AH%2Bs%2FolT4PeS1q5LX67muqxio%3D" alt="DineEase Logo" style="width: 150px; height: auto;">
</p>