<p>Hi {RestaurantOwnerName},</p>
<p>The reservation at <strong>{RestaurantName}</strong> has been updated. Here are the updated details:</p>
<p>
    <strong>Guest Name:</strong> {GuestName}<br>
    <strong>Date:</strong> {ReservationDate}<br>
    <strong>Time:</strong> {ReservationTime}<br>
    <strong>Number of People:</strong> {NumOfPeople}<br>
    <strong>Comments:</strong> {Comments}
</p>
<p>If you have any questions or need assistance, feel free to reach out to us at {SupportEmail}.</p>
<p>Thank you for providing excellent service!</p>
<p>Best regards,</p>
<p>
    <strong>Your Team at DineEase</strong>
</p>

<p style="text-align: center;">
    <img src="https://bpr2imagestorage.blob.core.windows.net/bpr2imagecontainer/Logo.png?sp=r&st=2024-12-10T15:32:49Z&se=2024-12-10T23:32:49Z&sv=2022-11-02&sr=b&sig=wMXcWdY3cne7F8rQ97AH%2Bs%2FolT4PeS1q5LX67muqxio%3D" alt="DineEase Logo" style="width: 150px; height: auto;">
</p>