# Rider specific files
.idea/
*.sln.iml

# Build results
[D]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# User-specific files
*.user
*.suo
*.userprefs

# NuGet packages
*.nupkg
packages/
*.snupkg

# Visual Studio specific files
.vs/
.vscode/
*.pdb
*.mdb

# Test results
WebAPI/appsettings.json
*.trx

# Logs
*.log

# Publish output
publish/


.env

*.db
